.lti-style {
    font-family: "Lato", sans-serif;
    padding-left: 1em;
}

.lti-style .course-name {
    display: none;
}

.libraries-style {
    font-family: "Open Sans", monospace, sans-serif;
    line-height: 1.5
}

.libraries-style .readings li {
    margin-bottom: 2em;
}

.libraries-style ul {
    padding: 0;
}

a[target="_blank"]::after {
    content: '';
    display: inline-block;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    background-image: url("./img/new-tab.svg");
    margin-left: 4px;
}

.App .app-container {
    font-weight: 300;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content max-content;
}

.library-info {
    grid-column: 1;
    grid-row: 1;
}

@media only screen and (min-width: 600px) {
    .App .app-container, .App.loading .app-container {
        grid-template-columns: 66% 33%;
        grid-template-rows: max-content max-content;
    }

    .App .readings, .App.loading .readings {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .App .librarian, .App.loading .librarian {
        grid-column: 2;
        grid-row: 3;
    }

    .App .library-info, .App.loading .library-info {
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .App .research-guides, .App.loading .research-guides {
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2;
    }
}

.readings {
    padding-right: 2em;
}

.no-readings-message {
    background-color: #efeedf;
    padding: 1em .5em;
    border: 2px solid #dfddcf;
}

.librarian {
    margin-top: 2em;
}

.is-loading {
    text-align: center;
    margin-bottom: 2em;
}

.is-loading .loader-img {
    background: url("img/loading-01.gif") no-repeat center;
    height: 6em;
    margin-bottom: 1em;
}

.is-loading .loading-message {
    color: #555555;
}

.library-info {
    margin-top: 36px;
}

a.link-to-libraries {
    font-weight: 600;
    font-size: 18px;
}

a.link-to-libraries:hover {
    text-decoration: none;
}

.research-guides {
    margin-top: 2em;
}

.research-guides {
    grid-column: 1;
}

.thumbnail {
    background: no-repeat center;
    width: 60px;
    min-height: 80px;
    float: left;
    margin-right: 1em;
    background-size: 65px;
    border: none;
}

.loaded .physical-book .thumbnail {
    background-image: url("img/book.svg");
}

.library-info li {
    list-style: none;
}

.readings li {
    list-style: none;
    margin-bottom: 1em;
    clear: left;
    min-height: 100px;
}

.readings li cite {
    font-weight: 400;
}

.physical-article cite, .electronic-article cite {
    font-style: normal;
}

.physical-book cite {
    font-style: italic;
}

.cite-journal-title {
    font-style: italic;
    margin-left: 5em
}

.availability strong {
    font-weight: 400;
    color: green;
}

.availability {
    color: green;
}

a {
    text-decoration: none;
}

h2.course-name {
    font-size: 28px;
    margin-bottom: 1em;
    max-width: 925px;
    line-height: 1.25;
}

h2.course-name .course-id {
    font-weight: 600;
}

.megamenu-container {
    margin-bottom: 2em;
}