figure, .ph-librarian {
    max-width: 200px;
    overflow: hidden;
    margin: 2em 0 3em 0;
    position: relative;
}

figure img, .ph-librarian-image {
    display: block;
    max-width: 200px;
}

.ph-librarian-image {
    height: 288px;
}

.ph-librarian-info {
    height: .8em;
    margin-top: .6em;
    max-width: 80%;
}

.ph-librarian-header {
    height: 1em;
    margin-bottom: 1em;
    max-width: 9em;
}

figcaption, .ph-librarian .title {
    margin-top: .5em;
}

figcaption .name {
    font-weight: bold;
}

.librarian-box {
    margin-bottom: 1.5em;
}