.ph-research-guides-header {
    height: .8em;
    margin-bottom: .8em;
    max-width: 16em;
}

.ph-research-guides-header:nth-child(1) {
    height: 1em;
    max-width: 14em;
}
.research-guides-block h4 {
    margin-bottom: 1em;
}

.research-guides-block li {
    list-style: none;
    margin-bottom: .8em;
}